@import './../custom-theme.scss';


@mixin flexcontainer {

    display: flex;
    justify-content: center;
    align-items: center;
}
.number{
    @include flexcontainer();
    background-color:  $background;
    color: white;
    border-radius: 5px;
    box-sizing: border-box;
    width: 10rem;
    padding: 1rem;
    margin: 0.5rem;
}
.box{
    @include flexcontainer();
}
.container{
    height: 50vh;
}