@import 'src/assets/theme/custom-theme.scss';


mat-grid-tile:nth-child(4){
    background-color: mat-color($my-custom-warn, lighter)!important;
}
mat-grid-tile:nth-child(odd){
    background-color: $background;
}
mat-grid-tile:nth-child(even){
    background-color:mat-color($my-custom-primary, lighter);
}
mat-grid-list{
    margin:0.5rem;
}