@import './custom-theme.scss';
.example-spacer {
    flex: 1 1 auto;
}
button{
    margin-right: 0.5rem;
}
mat-sidenav-container{
    height: 100%;
   
}
mat-sidenav{
    padding: 0.5rem;
}
mat-sidenav{
    background-color: mat-color($my-custom-primary, darker)!important;
    width: 200px;
    
}
mat-list-item{
    color:white!important;
}