<mat-accordion multi="true"> 
    <mat-expansion-panel>
        <mat-expansion-panel-header hideToggle>
            <mat-panel-title>
                Angular Fondamentals
            </mat-panel-title>
            <mat-panel-description>
                Total duration: 3 hours
            </mat-panel-description>
        </mat-expansion-panel-header>
        <p>This is the panel content. Add course details.</p>
        <mat-action-row>
            <button mat-button>Enroll</button>
        </mat-action-row>
    </mat-expansion-panel>

    <mat-expansion-panel>
        <mat-expansion-panel-header>
            <mat-panel-title>
                Angular Material Fondamentals
            </mat-panel-title>
            <mat-panel-description>
                Total duration: 2.5 hours
            </mat-panel-description>
        </mat-expansion-panel-header>
        <p>This is the panel content. Add course details.</p>
        <mat-action-row>
            <button mat-button>Enroll</button>
        </mat-action-row>
    </mat-expansion-panel>
</mat-accordion>